
table {
  position: relative;
  width: 75vw;
  /* background-color: #aaa; */
  overflow: hidden;
  border-collapse: collapse;
}


/*thead*/

thead {
  position: relative;
  display: block;
  /*seperates the header from the body allowing it to be positioned*/
  width: 75vw;
  overflow: visible;
}

thead th {
  /* background-color: #99a; */
  min-width: 220px;
  /* height: 32px; */
  /* border: 1px solid #222; */
}

thead th:first-child {
  /*first cell in the header*/
  position: relative;
  display: block;
  background-color: rgb(30, 197, 175);
  color: #040001 ;
  width: 1vw !important ;
}


/*tbody*/

tbody {
  position: relative;
  display: block;
  /*seperates the tbody from the header*/
  width: 75vw;
  height: 60vh;
  overflow: scroll;
}

tbody td {
  /* background-color: #bbc; */
  min-width: 220px;
  height: 100px;
  /* border: 1px solid #222; */
}

tbody tr td:first-child {
  /*the first cell in each tr*/
  position: relative;
  display: block;
  /* height: 40px; */
  background-color: rgb(30, 197, 175);
  color: #040001;
  width: 1vw !important ;
}

