
table {
        border-collapse: collapse;
        width: 100%;

    /* table-layout:fixed; */
	/* margin:auto; */
    }

    table td.shrink {
        white-space: nowrap
    }

    table td.expand {
        width: 99%
    }

    .table th {
        text-align: center;
        vertical-align: middle;
    }


thead, tfoot {
	/* display:table; */
	/* width:100%; */
}
tbody {
    /* height:550px; */
    /* height:90vh; */

	overflow:auto;
	/* overflow-x:hidden; */
	/* display:block; */
	/* width:100%; */
}
/* tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}
 */






<div id="formsubmitbutton">
<input type="submit" name="submitter" value="Submit Button" onclick="ButtonClicked()">
</div>
<div id="buttonreplacement" style="margin-left:30px; display:none;">
<img src="//www.willmaster.com/images/preload.gif" alt="loading...">
</div>

<script type="text/javascript">
function ButtonClicked()
{
   document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
   document.getElementById("buttonreplacement").style.display = ""; // to display
   return true;
}
var FirstLoading = true;
function RestoreSubmitButton()
{
   if( FirstLoading )
   {
      FirstLoading = false;
      return;
   }
   document.getElementById("formsubmitbutton").style.display = ""; // to display
   document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
}
// To disable restoring submit button, disable or delete next line.
document.onfocus = RestoreSubmitButton;
</script>

