
            $("#booking_discountType").val(1)

            $('#booking_price').val(PRICE)
            $('#discount').on("keyup", function () {
                if ($('#discount').val() === "") {
                    $('#booking_price').val(PRICE)
                } else {
                    booking_discount_val = $('#discount').val();
                    booking_amount_val = parseFloat(parseFloat((PRICE)) - (parseFloat($('#discount').val())));
                    $('#booking_price').val(booking_amount_val)
                }
            });
        
            $("#booking_discountType").change(function () {
        
                BOOKING_SELECTED_SELECTED_OPTION = $("#booking_discountType").val()
        
                $('#booking_price').val(PRICE)
        
                if (BOOKING_SELECTED_SELECTED_OPTION === "1") {
        
                    //  booking_discount_val =   $('#booking_discount').val('0');
                    $('#discount').on("keyup", function () {
                        if ($('#discount').val() === "") {
                            $('#booking_price').val(PRICE)
                        } else {
                            booking_discount_val = $('#discount').val();
                            booking_amount_val = parseFloat(parseFloat((PRICE)) - (parseFloat($('#discount').val())));
                            $('#booking_price').val(booking_amount_val)
                        }
                    });
        
        
                } else {
        
                    $('#booking_price').val(PRICE)
        
                }
        
            });
        



<select name="calbooking_type" id="selectedbookingtype">
                                                                                                    <option value="1"> Membership</option>
                                                                                                    <option value="2"> Coaching</option>
                                                                                                    <option value="3" selected="">Pay Per Use</option>
                                                                                                        <option value="4">Maintenance</option>
                                                                                                        <option value="5">Tournament</option>
                                                                                              
                                                                                                </select>







    $("#selectedbookingtype").change(function () {

        CURRENT_SELECTED_OPTION = '';
        CURRENT_SELECTED_OPTION = $("#selectedbookingtype").val();

        console.log(CURRENT_SELECTED_OPTION);

        console.log(PRICE);

        if (CURRENT_SELECTED_OPTION === "3") {

            $('#walkin_price').val(PRICE);
            $('#booking_price').val(PRICE)
            $('#discount').val('0');

            $('#walkin_remarks').prop('required',false);

            document.getElementById("remark_id").style.display = "none";
          
            $('#hide_context_id').show()
            document.getElementById("user_mobile_display_id").style.display = "block";

        } else if (CURRENT_SELECTED_OPTION === "1") {

            $('#walkin_price').val(0);
            $('#booking_price').val(0)
            $('#discount').val(0);
            $('#payment_method').val('Pending');
            $('#user_mobile').val('6666666666');
            $('#walkin_user_name').val('Membership');
            $('#user_email').val('wjQiU36KWDEDGQqNyaab2e@invalid.com');
            $('#hide_context_id').hide();

            $("#walkin_remarks").attr('required', true);


            document.getElementById("remark_id").style.display = "block";
  

            document.getElementById('user_mobile_display_id').style.display = "none";

        }
        else if (CURRENT_SELECTED_OPTION === "2") {

            $('#walkin_price').val(0);
            $('#booking_price').val(0)
            $('#discount').val(0);
            $('#payment_method').val('Pending');
            $('#user_mobile').val('5555555555');
            $('#walkin_user_name').val('Coaching');
            $('#user_email').val('ss8vrNDwARh5bhe5vK72LA@invalid.com');
            $('#hide_context_id').hide();
         
         
            $("#walkin_remarks").attr('required', true);


            document.getElementById("remark_id").style.display = "block";
  

            document.getElementById('user_mobile_display_id').style.display = "none";
        }
        else if (CURRENT_SELECTED_OPTION === "4") {


            $('#walkin_price').val(0);
            $('#booking_price').val(0)
            $('#discount').val(0);
            $('#payment_method').val('Pending');
            $('#user_mobile').val('2222222222');
            $('#walkin_user_name').val('Maintenance');
            $('#user_email').val('jANE2Zpz6dDqnWnVddyGV5@invalid.com');
            $('#hide_context_id').hide();


            $("#walkin_remarks").attr('required', true);


            document.getElementById("remark_id").style.display = "block";
  
            document.getElementById('user_mobile_display_id').style.display = "none";

        }

        else if (CURRENT_SELECTED_OPTION === "5") {


            $('#walkin_price').val(0);
            $('#booking_price').val(0);
            $('#discount').val(0);
            $('#payment_method').val('Pending');
            $('#user_mobile').val('8888888888');
            $('#walkin_user_name').val('Corporate Tournament');
            $('#user_email').val('Kh7rAndX2cxxiG3wWFKj2P@invalid.com');
            $('#hide_context_id').hide();
          
          
            $("#walkin_remarks").attr('required', true);


            document.getElementById("remark_id").style.display = "block";
  

            document.getElementById('user_mobile_display_id').style.display = "none";

        }
        else {

            $('#walkin_price').val(PRICE);
            $('#booking_price').val(PRICE)
            //     $('#hide_context_id').hide()

            document.getElementById('user_mobile_display_id').style.display = "none";


            document.getElementById("remark_id").style.display = "block";
  

            $('#walkin_remarks').prop('required',false);

        }



    });








       try {
                if(booking_discount_val < booking_amount_val){

                    $('#booking_price').val(booking_amount_val);
    
                }
                else{
                    swal('please enter less than or equal to Amount')
                }
            } catch (error) {
             
                swal('please enter less than or equal to Amount')
             
            }
     





               $('#bulkdiscount').on("keyup", function () {   
                    if ($('#bulkdiscount').val() === "") {
                        $('#booking_price').val(PRICE)
                    } else {
                        if(submitslotsforbooking_btn_id === "submitbulkbookingforbooking"){
                            try {
                                    if(booking_discount_val <= bulk_booking_data.cost){
                                         booking_amount_val = parseFloat(parseFloat((bulk_booking_data.cost)) - (parseFloat($('#bulkdiscount').val())));
                                    }else{
                                    $('#bulkdiscount').val(0);
                                    booking_amount_val = parseFloat(parseFloat((bulk_booking_data.cost)));
                                    swal('please enter Discount less than or equal to Amount ..?' );
                                }
                            } catch (error) {
                                booking_amount_val = parseFloat(parseFloat((bulk_booking_data.cost)) - (parseFloat($('#bulkdiscount').val())));
                            }
                        }else{
                            try {      
                                    if(booking_discount_val <= PRICE){   
                                       booking_amount_val = parseFloat(parseFloat((PRICE)) - (parseFloat($('#bulkdiscount').val())));
                                    }else{
                                    $('#bulkdiscount').val(0);
                                    booking_amount_val = parseFloat(parseFloat((PRICE)));
                                    swal('please enter Discount less than or equal to Amount ..?' );
                                }
                            } catch (error) {
                                booking_amount_val = parseFloat(parseFloat((PRICE)) - (parseFloat($('#discount').val())));
                            }
                        }
                    //    booking_amount_val = parseFloat(parseFloat((PRICE)) - (parseFloat($('#discount').val())));
                        $('#booking_price').val(booking_amount_val);
                    }
                });
