{% extends "web/base_dashboard.html" %}

{% block body_content %}

<style>
    .popover.clockpicker-popover.bottom.clockpicker-align-left {
        z-index: 999999
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table td.shrink {
        white-space: nowrap
    }

    table td.expand {
        width: 99%
    }

    .table th {
        text-align: center;
        vertical-align: middle;
    }

    #calendar_booking_booking_info .modal-content {
        width: 800px;
    }

    #user_info_calendarbooking_slots {
        margin-top: 20px;
    }

    .add-ons-cls {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left: 118px;
        margin-top: -55px;

        border-left: 67px solid transparent;
        border-top: 29px solid yellow;
        position: absolute;

    }

    .modal-backdrop {
        z-index: -1;
    }

    #ppuModal {
        padding-top: 50px;
    }






    .scrolltop {
        display: none;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        bottom: 20px;
        right: 10px;
    }

    .scroll {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #b2b2b2;
        background: rgba(178, 178, 178, 0.7);
        padding: 20px;
        text-align: center;
        margin: 0 0 0 0;
        cursor: pointer;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .scroll:hover {
        background: rgba(178, 178, 178, 1.0);
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .scroll:hover .fa {
        padding-top: -10px;
    }

    .scroll .fa {
        font-size: 30px;
        margin-top: -5px;
        margin-left: 1px;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
    }




    /* .modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
} */



    /* .add_block:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
         margin-left:118px;
        margin-top:-55px;

        border-left: 67px solid transparent;
        border-top: 29px solid  yellow;
        position: absolute;

        }  */
</style>
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>Widget Settings</h3>
        </div>
        <div class="modal-body"> Widget settings form goes here</div>
    </div>
    <div class="clearfix"></div>
    <div class="content">
        <!--<div class="row" style="padding-bottom: 20px;">-->
        <!--<div class="col-md-12">-->
        <!--<form method="POST">-->
        <!--<input type="hidden" name="form_type" value="createslots">-->
        <!--<input type="submit" name="submit" value="Create Slots" class="btn btn-default pull-right" style="background-color:#0aa699; color:white"/>-->

        <!--</form>-->
        <!--</div>-->
        <!--</div>-->


        <div class='thetop'></div>


        <div class="row">
            <div class="col-md-12" id="booking_page">
                <ul class="nav nav-tabs  " role="tablist">
                    <!--<li class="active">-->
                    <!--<a href="#addnewbooking" role="tab" data-toggle="tab">Add New Booking</a>-->
                    <!--</li>-->
                    <li class="active">
                        <a href="#calendar" role="tab" data-toggle="tab">Calendar</a>
                    </li>
                    <li>
                        <a href="#currentbookings" role="tab" data-toggle="tab">Current Bookings</a>
                    </li>
                    <li>
                        <a href="#createbulkbooking" role="tab" data-toggle="tab">Create Bulk Booking</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#csv" role="tab" data-toggle="tab">Download CSV</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#pastbookings" role="tab" data-toggle="tab">Past Bookings</a>
                    </li>

                    <li>
                        <a href="#cancelledbookings" role="tab" data-toggle="tab">Cancelled Bookings</a>
                    </li>
                    <!-- <li>
                         <a href="#bulkbooking" role="tab" data-toggle="tab">Bulk Booking</a>
                     </li>-->
                </ul>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="currentbookings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple ">
                                    <div class="grid-body no-border">

                                        <h3><span class="semi-bold">Current Bookings</span></h3>
                                        <p></p>
                                        <br>
                                        <!--<button type="button" class="btn btn-primary" id="cancelbooking_submit" style="display: none; margin-bottom: 15px;">Cancel Bookings</button>-->
                                        <button type="button" class="btn btn-primary" id="cancelbooking_submit" onclick="ppu.cancel_bookings()"
                                            style="display: none; margin-bottom: 15px;">Cancel Bookings
                                        </button>
                                        <!--<button type="button" class="btn btn-primary" id="cancelbooking_submit" style="display: none; margin-bottom: 15px;">Cancel Bookings</button>-->
                                        <div style="overflow-x: scroll; width:100%">
                                            <table class="table table-hover no-more-tables" id="currentbookingtable">
                                                <thead style="background-color: #d1dade;">
                                                    <tr>
                                                        <th>Bulk Booking ID</th>
                                                        <th>RECEIPT</th>
                                                        <th>Cancel</th>
                                                        <th>Booking ID</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th>Sport</th>
                                                        <th>Court</th>
                                                        <th>Slot Date</th>
                                                        <th>Slot Time</th>
                                                        <th>Price</th>
                                                        <th>Booking Date</th>
                                                        <th>Remarks</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="currentbookingtable_body">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="bulkbooking">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple ">
                                    <div class="grid-body no-border">

                                        <h3><span class="semi-bold">Bulk Bookings</span></h3>
                                        <p></p>
                                        <br>
                                        <button type="button" class="btn btn-primary" id="bulkbooking_submit" style="display: none;">Cancel
                                            Bookings
                                        </button>
                                        <div style="overflow-x: scroll; width:100%">
                                            <table class="table table-hover no-more-tables" id="bulkbookingtable">
                                                <thead style="background-color: #d1dade;">
                                                    <tr>
                                                        <th>Cancel</th>
                                                        <th>Booking ID</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th>Sport</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Price</th>
                                                        <th>Booking Date</th>
                                                        <th>Remarks</th>
                                                        <th>Payment Status</th>


                                                    </tr>
                                                </thead>
                                                <tbody id="bulkbookingtable_body">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="cancelledbookings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple ">
                                    <div class="grid-body no-border">

                                        <h3><span class="semi-bold">Cancelled Bookings</span></h3>
                                        <p></p>
                                        <br>
                                        <div style="overflow-x: scroll; width:100%">
                                            <table class="table table-hover no-more-tables" id="cancelledbookingtable">
                                                <thead style="background-color: #d1dade;">
                                                    <tr>
                                                        <th>Bulk Booking ID</th>
                                                        <th>RECEIPT</th>
                                                        <th>Booking ID</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th>Sport</th>
                                                        <th>Court</th>
                                                        <th>Slot Date</th>
                                                        <th>Slot Time</th>
                                                        <th>Price</th>
                                                        <th>Booking Date</th>
                                                        <th>Cancellation Date</th>
                                                        <th>Booking Remarks</th>
                                                        <th>Cancellation Remarks</th>


                                                    </tr>
                                                </thead>
                                                <tbody id="cancelledbookingtablebody">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pastbookings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple ">
                                    <div class="grid-body no-border">

                                        <h3><span class="semi-bold">Past Bookings</span></h3>
                                        <p></p>
                                        <br>
                                        <div style="overflow-x: scroll; width:100%">
                                            <table class="table table-hover no-more-tables" id="pastbookingtable">
                                                <thead style="background-color: #d1dade;">
                                                    <tr>
                                                        <th> Bulk Booking ID</th>
                                                        <th>RECEIPT</th>
                                                        <th>Booking ID</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th>Sport</th>
                                                        <th>Court</th>
                                                        <th>Slot Date</th>
                                                        <th>Slot Time</th>
                                                        <th>Price</th>
                                                        <th>Booking Date</th>
                                                        <th>Remarks</th>


                                                    </tr>
                                                </thead>
                                                <tbody id="pastbookingtable_body">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="createbulkbooking">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <h4><span class="semi-bold">Create Bulk Booking</span></h4>
                                    </div>
                                    <div class="grid-body no-border">
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <form method="POST" id="bulkbookingform">
                                                    <input type="hidden" name="form_type" value="bulkbookingform">

                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <label class="form-label">Sport</label>
                                                                <div class="controls">
                                                                    <select name="bulkbooking_sport" id="bulkbooking_sport"
                                                                        required>
                                                                        <option disabled selected value> -- select an
                                                                            option
                                                                            --
                                                                        </option>
                                                                        {% for sport in sports %}
                                                                        <option value="{{ sport.id }}">{{sport.sport.name
                                                                            }}
                                                                        </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <label class="form-label">Booking type</label>
                                                                <div class="controls">
                                                                    <select name="bulkbooking_type" id="bulkbooking_type">
                                                                        <option value="1"> Membership</option>
                                                                        <option value="2"> Coaching</option>
                                                                        <option value="3" selected>Pay Per Use</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row" id="bulkbooking_dates">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Start Date</label>
                                                                <div class="controls">
                                                                    <input id="start_date_bulkbooking" autocomplete="off"
                                                                        name="start_date_bulkbooking" data-date-format="mm/dd/yyyy"
                                                                        data-language="en" class="form-control bulkbooking_date datepicker-here"
                                                                        required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">End Date</label>
                                                                <div class="controls">
                                                                    <input id="end_date_bulkbooking" autocomplete="off"
                                                                        name="end_date_bulkbooking" data-date-format="mm/dd/yyyy"
                                                                        data-language="en" class="form-control bulkbooking_date datepicker-here"
                                                                        required>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row" id="bulkbooking_days">
                                                        <h5>Select Days</h5>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row-fluid">
                                                                        <div>
                                                                            <label><b>Weekdays</b></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="monday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="0">
                                                                            <label for="monday">Monday</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="wednesday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="2">
                                                                            <label for="wednesday">Wednesday</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="friday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="4">
                                                                            <label for="friday">Friday</label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="tuesday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="1">
                                                                            <label for="tuesday">Tuesday</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="thursday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="3">
                                                                            <label for="thursday">Thursday</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row-fluid">
                                                                        <div>
                                                                            <label><b>Weekends</b></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="saturday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="5">
                                                                            <label for="saturday">Saturday</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row-fluid">
                                                                        <div class="checkbox check-success 	">
                                                                            <input id="sunday" type="checkbox" class="bulkbooking_daycheckbox"
                                                                                name="bulkbooking_day" value="6">
                                                                            <label for="sunday">Sunday</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="bulkbooking_timing">
                                                        <label class="form-label">Timings</label>
                                                        <span class="help">Please make sure you have created working
                                                            hours for the date selected</span>
                                                        <div class="controls">
                                                            <select name="bulkbooking_timings" style="width:100%" id="bulkbooking_timings"
                                                                multiple required>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="bulkbooking_courts_div">
                                                        <label class="form-label">Select Courts</label>
                                                        <span class="help">If you don't select a court any available
                                                            court shall be assigned.</span>
                                                        <div class="controls">
                                                            <select name="bulkbooking_courts" style="width:100%" id="bulkbooking_courts"
                                                                multiple>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <button type="button" class="btn btn-primary" id="submitbulkbookingforbooking">
                                                        submit
                                                    </button>
                                                    <div id="userinfo_for_bulkbooking">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="calendar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple ">
                                    <div class="grid-body no-border">


                                        <p></p>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3><span class="semi-bold">Calendar</span></h3>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="pull-right"><span class="semi-bold">{{ today | date }}</span></h3>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <form method="post" id="calendarbooking">
                                                <input type="hidden" name="form_type" value="calendarbooking">
                                                <div class="form-group col-md-4">
                                                    <label class="form-label">Sport</label>
                                                    <div class="controls">
                                                        <select name="calendar_sports" id="calendar_sports" required>
                                                            <!--<option disabled selected value> &#45;&#45; select an option &#45;&#45;</option>-->
                                                            {% for sport in sports %}
                                                            {% if sport == cal_selected_sport %}
                                                            <option value="{{ sport.id }}" selected>{{ sport.sport.name}} </option>
                                                            {% else %}
                                                            <option value="{{ sport.id }}">{{ sport.sport.name }} </option>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% if is_all %}
                                                            <option value="ALL" selected>All</option>
                                                            {% else %}
                                                            <option value="ALL">All</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label">Date</label>
                                                    <div class="controls">

                                                        <input id="calendar_date" name="calendar_date" data-date-format="mm/dd/yyyy"
                                                            data-language="en" autocomplete="off" class="form-control datepicker-here"
                                                            value="{{ today | date:'m/d/Y' }}">


                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label cl
                                                    
                                                    ass="form-label">&nbsp;</label>
                                                    <div class="controls">
                                                        <input type="submit" name="submit" value="Get Slots" class="btn btn-default" />
                                                    </div>
                                                </div>
                                            </form>
                                            {% if courts %}
                                            <div class="col-md-8" style="">
                                                <h4>Selected Courts </h4>
                                                <div id="selectedcourts"   style="padding-left:10px">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary" id="submitslotsforbooking"
                                                    style="display:none;">
                                                    Book Slots
                                                </button>
                                            </div>
                                            {% endif %}






                                            <!-- makemodal box -->



                                            <div class='scrolltop'>
                                                <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
                                                <!-- <a class='scroll-top  scroll icon' href="#booking_page"  style="display: block;" ><i class="fa fa-4x fa-angle-up"></i></a> -->


                                            </div>


                                            <!-- <a class="scroll-top" id="scrltop" href="#booking_page" style="display: block;"><i class="fa fa-angle-up"></i> </a> -->



                                            <div class="modal fade" id="ppuModal" tabindex="-1" role="dialog"
                                                aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" style="width:50%">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                onclick="ppu.cancel_slots()">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                Book Slots
                                                            </h4>
                                                        </div>
                                                         
                                                        <!-- Modal Body -->
                                                        <div class="modal-body" style="background-color: white">



                                                            <!-- form -->



                                                            <form method="POST" id="calendarbookingslots">
                                                            
                                                                <input type="hidden" name="form_type" value="calendarbookingslots">
                                                                <div class="col-md-12" id="user_info_calendarbooking_slots" style="">


                                                                        
                                                                    <div id="hiddenslotinputs">



                                                                            <div>
                                                                                    <h4>Selected Courts:</h4>
                                                                                    <div class="Selected_Courts" > </div>
                
            
                                                                            </div>
                                                           


                
                                                                    <input type="hidden" name="hiddenslotid" id="hiddenslot199099" value="199099"></div>
                                                               
                                                        
                                                                    <div class="">
                                                                            <div class="col-md-12">
                                                                                    <div class="col-md-6" style="padding-left:0px">
                                                                                        <div class="form-group row">
                                                                                            <label for="user_mobile" class="col-md-4 col-form-label">Mobile
                                                                                                Number</label>
                                                                                            <div class="col-md-8">
                                                                                                <input type="number" min=1000000000
                                                                                                    max=9999999999 name="user_mobile"
                                                                                                    id="user_mobile" class="form-control"
                                                                                                    required>
                                                                                            </div>
                                                                                        </div>
    
                                                                                    </div>
                                                                                    <div class="col-md-6">
    
                                                                                        <div class="form-group row" id="calbooking_type_wrapper">
                                                                                            <label for="selectedbookingtype" class="col-md-4 col-form-label">Booking
                                                                                                type</label>
                                                                                            <div class="col-md-8">
    
                                                                                                <select name="calbooking_type" id="selectedbookingtype"  >
                                                                                                    <option value="1"> Membership</option>
                                                                                                    <option value="2"> Coaching</option>
                                                                                                    <option value="3" selected>Pay Per Use</option>
                                                                                                        <option value="4">Maintenance</option>
                                                                                                        <option value="5">Tournament</option>
                                                                                              
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                    </div>
                                                                  





                                                                    <div class="col-md-12">
                                                                            <div class="col-md-6" style="padding-left:0px">
                                                                                <div class="form-group row" id="useremail_formgroup"
                                                                                    style="display:none;">
                                                                                    <label for="user_email" class="col-md-4 col-form-label">Email
                                                                                        ID</label>
                                                                                    <div class="col-md-8">
    
                                                                                        <input type="text" name="user_email"
                                                                                            id="user_email" class="form-control">
    
    
                                                                                    </div>
                                                                                </div>
                                                                            </div> 
    
                                                                            <div  class="col-md-6"  >
                                                                                <div class="form-group row"  id="username_formgroup"  style="display:none;" >
                                                                                            <label for="staticEmail" class="col-md-4 col-form-label">Name</label>
                                                                                            <div class="col-md-8">
                                                                                                    <input type="text" id="walkin_user_name"
                                                                                                    name="walkin_user_name" class="form-control"
                                                                                                    required>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
    



                                        

                                                                    <div class="hide_context" id="hide_context_id">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-6">
                                                                                            <div class="form-group row">
                                                                                                    <label  for="payment_type" class="col-md-4 col-form-label">Payment Type</label>
                                                                                                    <div class="col-md-8">
                                                                                                        <select name="payment_type" id="payment_type" required="">
                                                                                                            <option disabled="" selected="" value=""> -- select an option
                                                                                                                --
                                                                                                            </option>
                                                                                                            <option value="0">Zero</option>
                                                                                                            <option value="1" selected="">Full Payment</option>
                                                                                                            <option value="2">Part Payment</option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                    </div>


                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group row">
                                                                                                <label  for="walkin_price" class=" col-md-4  col-form-label">Price</label>
                                                                                                <div class="col-md-6 ">
                                                                                                    <input name="walkin_price" id="walkin_price" type="text"  class="form-control" value="0"  readonly >
                                                                                                </div>
                                                                                            </div> 
                                
                                                                                    </div> 

                                                                    

                                                                                </div>
                                                                            </div>


                                                                            <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-md-6">
    
                                                                                            <div class="form-group   row">
                                                                                                <label for="booking_discountType"
                                                                                                    class="col-md-4 col-form-label">Discount
                                                                                                    Type</label>
                                                                                                <div class="col-md-8">
                                                                                                    <select id="booking_discountType"
                                                                                                        name="booking_discountType">
                                                                                                        <option value=""> --
                                                                                                            select an option
                                                                                                            --
                                                                                                        </option>   
                                                                                                         <option value="1"  >Amount</option>
                                                                                                    </select>
    
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="form-group  row">
                                                                                                <label for="booking_discount"
                                                                                                    class="col-md-4 col-form-label">Discount</label>
                                                                                                <div class="col-md-8">
                                                                                                    <input    id="booking_discount" type="number" value="0">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>





                                                                            <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-md-6">
                                                                                            <div class="form-group  row">
                                                                                                <label class="col-md-4 col-form-label">Payment Method</label>
                                                                                                <div class="col-md-8">
                                                                                                    <select name="payment_method" id="payment_method">
                                                                                                        <option disabled  selected value> --  select an option  --  </option>
                                                                                                        <option value="Cash"> Cash</option>
                                                                                                        <option value="Card">Card</option>
                                                                                                        <option value="Cheque">Cheque</option>
                                                                                                        <option value="Paytm">Paytm</option>
                                                                                                        <option value="Pending">Pending</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="form-group row">
                                                                                                <label  for="booking_amount" class="col-md-4 col-form-label">Amount</label>
                                                                                                <div class="col-md-6">
                                                                                                    <input type="number" class="form-control "
                                                                                                        id="booking_amount"
                                                                                                        placeholder="Amount">
                                                                                                </div>
                                                                                            </div>
    
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
    


                                                                        <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group  row">
                                                                                            <label class="col-md-4 col-form-label">Reference#</label>
                                                                                            <div class="col-md-8"  style="padding-left:44px;">
                                                                                                <input name="booking_ref" id="booking_ref" type="text" >
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                            </div> 
                                                             <div class="row">
                                                                    <div class="col-md-12" style="padding-left:30px">
                                                                        <div class="form-group row">
                                                                            <label for="walkin_remarks"  class="col-md-2 col-form-label">Remarks</label>
                                                                            <div class="col-md-10">

                                                                                <textarea class="form-control" id="walkin_remarks" name="walkin_remarks"
                                                                                    rows="3" placeholder="remarks"
                                                                                    style="resize:none"></textarea>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>


                                                                    <input type="submit" name="submit" class="btn btn-default" style="color:white;background-color:#099a8c ;margin-right:50px;">
                                                                    <input type="button" name="cancel" onclick="ppu.cancel_slots()" id="cancel_button" value="cancel" class="btn btn-default" style="color:white;background-color:#099a8c ">
                
                                                                </div>
                                                            </form>


                                                            <!-- end form -->

                                                        </div>
                                                        <!-- Modal Footer -->
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- makemodal box -->

                                        </div>
                                        <div style="overflow:auto;">
                                            <table class="table table-hover no-more-tables">
                                                {% if courts %}
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Timings</th>
                                                        {% for c in courts %}
                                                        <th style="text-align:center">{{ c.name }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                {% endif %}
                                                <tbody>
                                                    {% for s in slot %}
                                                    <tr>
                                                        <td class="shrink" style="text-align: center ">{{s.start_time|time:"H:i" }} - {{ s.end_time|time:"H:i" }}</td>
                                                        {% if s.slots %}
                                                        {% for k in s.slots %}
                                                        <td class="shrink " style="text-align: center ">
                                                            {% if k.is_available == True %}
                                                            <button type="button" onclick="ppu.add_slots_to_receipt({{ k.id }}, '{{ s.start_time|time:'H:i' }} - {{ s.end_time|time:'H:i' }}', '{{ k.court.get_space_names }}', {{ k.price }})"
                                                                class="btn btn-primary" id="{{ k.id }}" style="height:55px;width:200px">
                                                                Available <br> Price: {{ k.price}}
                                                            </button>
                                                            {% else %}
                                                            {% if k.npbooking_set.exists %}
                                                            {% with k.get_lastbooking as booking %}
                                                            {% if not booking.has_cancelled %}

                                                            {% if booking.booking_type == 2 %}
                                                            <button type="button" id="a1" onclick="ppu.calendar_slot_booking_details({{ k.id }})"
                                                                class="btn btn-primary" style="background-color:#ff9467;width:200px; height:55px">
                                                                COACHING
                                                            </button>
                                                            {% elif booking.booking_type == 1 %}
                                                            <button type="button" onclick="ppu.calendar_slot_booking_details({{ k.id }})"
                                                                class="btn btn-primary" style="background-color:#a29e7e;width:200px; height:55px">
                                                                MEMBERSHIP
                                                            </button>
                                                            {% else %}
                                                            {% if booking.bookedequipment_set.count >= 1 %}
                                                            <button type="button" onclick="ppu.calendar_slot_booking_details({{ k.id }})"
                                                                class="btn btn-primary" style="background-color:#ff5a5f;width:200px; height:75px">

                                                                {% if booking.payment_status == 1 %}
                                                                {{ booking.user.first_name }}
                                                                {{ booking.user.last_name }}
                                                                <br>
                                                                {{ booking.user.mobile }}
                                                                <!--<br>-->
                                                                <!--<p>Payment: Done</p>-->
                                                                {% else %}
                                                                {{ booking.user.first_name }}
                                                                {{ booking.user.last_name }}
                                                                <br>
                                                                {{ booking.user.mobile }}
                                                                <!--<br>-->
                                                                <!--<p>Payment: Pending</p>-->
                                                                {% endif %}
                                                                <br>
                                                                Addon: Yes
                                                            </button>
                                                            {% else %}
                                                            <button type="button" onclick="ppu.calendar_slot_booking_details({{ k.id }})"
                                                                class="btn btn-primary " style="background-color:#ff5a5f;width:200px; height:75px">

                                                                {% if booking.payment_status == 1 %}
                                                                {{ booking.user.first_name }}
                                                                {{ booking.user.last_name }}
                                                                <br>
                                                                {{ booking.user.mobile }}
                                                                <!--<br>-->
                                                                <!--<p>Payment: Done</p>-->
                                                                {% else %}
                                                                {{ booking.user.first_name }}
                                                                {{ booking.user.last_name }}
                                                                <br>
                                                                {{ booking.user.mobile }}
                                                                <!--<br>-->
                                                                <!--<p>Payment: Pending</p>-->
                                                                {% endif %}
                                                                <br>
                                                                Addon: No
                                                            </button>

                                                            {% endif %}

                                                            {% endif %}
                                                            {% else %}
                                                            <button type="button" onclick="#" class="btn btn-primary booking-cancelled"
                                                                style="background-color:#ff5a5f;width:200px; height:75px">
                                                                CANCELLED
                                                            </button>
                                                            {% endif %}
                                                            {% endwith %}
                                                            {% else %}
                                                            <button type="button" onclick="#blocked" class="btn btn-primary booking-none"
                                                                style="background-color:#ff5a5f;width:200px; height:75px">
                                                                CANCELLED
                                                            </button>
                                                            {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        {% endfor %}
                                                        {% else %}
                                                        {% for c in courts %}
                                                        <td class="shrink" style="text-align: center ">
                                                            <button type="button" class="btn btn-primary" style="background-color:blue">
                                                                No Slots Created
                                                            </button>
                                                        </td>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="tab-pane" id="csv">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                    <!--<div class="grid simple">-->
                    <!--<div class="grid-title no-border">-->
                    <!--<h4><span class="semi-bold">Download CSV</span></h4>-->
                    <!--</div>-->
                    <!--<div class="grid-body no-border">-->
                    <!--<br>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-8 col-sm-8 col-xs-8">-->
                    <!--<form id="downloadcsv" onsubmit="return mySubmitFunction()">-->
                    <!--<input type="hidden" name="form_type" value="downloadcsv">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label class="form-label">Start Date</label>-->
                    <!--<div class="controls">-->
                    <!--<input id="start_date_downloadcsv"-->
                    <!--name="start_date_downloadcsv"-->
                    <!--class="form-control downloadcsv_date"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                    <!--<label class="form-label">End Date</label>-->
                    <!--<div class="controls">-->
                    <!--<input id="end_date_downloadcsv"-->
                    <!--name="end_date_downloadcsv"-->
                    <!--class="form-control downloadcsv_date"-->
                    <!--required>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                    <!--<button type="button" class="btn btn-primary"-->
                    <!--id="downloadcsvform">-->
                    <!--Download!-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
    {# &lt;!&ndash; END PAGE &ndash;&gt#}
</div>

<!--BOOKING CONFIRMATION ALERT-->
<div id="bulkbooking_modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="ppu.closemodal('bulkbooking_modal')">&times;
                </button>
                <h4 class="modal-title">Booking Information</h4>
            </div>
            <div class="modal-body" style="height: 250px;overflow-y: auto;">
                <div class="row">
                    <h3>Booked Slots</h3>
                    <div id="modal_booked">
                        {% if bulk_bookedslots %}
                        {% for slot in bulk_bookedslots %}
                        <div class="col-md-6">
                            Date: {{ slot.date }}
                        </div>
                        <div class="col-md-6">
                            Slot From Time: {{ slot.time }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <h3>Unavailabe Slots</h3>
                    <div id="modal_unbooked">
                        {% if bulk_unbookedslots %}
                        {% for slot in bulk_unbookedslots %}
                        <div class="col-md-6">
                            Date: {{ slot.date }}
                        </div>
                        <div class="col-md-6">
                            Slot From Time: {{ slot.time }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <br>
                <br>
                <!--<button class="btn btn-block btn-success" type="button" onclick="generateReceipt()">Generate Receipt-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>

<div id="prebulkbooking_modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="ppu.closemodal('prebulkbooking_modal')">&times;
                </button>
                <h4 class="modal-title">Slots Information</h4>
            </div>
            <div class="modal-body" style="height: 250px;overflow-y: auto;">
                <div class="row">
                    <h3 style="padding-left: 12px;">Unavailabe Slots</h3>
                    <div id="premodal_unbooked">

                    </div>
                </div>
                <br>
                <br>

                <!--<button class="btn btn-block btn-success" type="button" onclick="generateReceipt()">Generate Receipt-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>

<div id="calendar_booking_booking_info" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:#22262e" class="close" data-dismiss="modal" onclick="ppu.closemodal('calendar_booking_booking_info')">&times;
                </button>
                <h4 class="modal-title">Booking Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">Slot Date</div>
                            <div class="col-md-8" id="booking-modal-date"></div>

                            <div class="col-md-4">Slot Time</div>
                            <div class="col-md-8" id="booking-modal-time"></div>

                            <div class="col-md-4">Sport</div>
                            <div class="col-md-8" id="booking-modal-sport"></div>

                            <div class="col-md-4">Court</div>
                            <div class="col-md-8" id="booking-modal-court"></div>

                            <div class="col-md-4">Slot Price</div>
                            <div class="col-md-8" id="booked-modal-price">-</div>

                            <div class="col-md-4">Add ons</div>
                            <div class="col-md-8" id="booked-modal-add-ons"></div>

                            <div class="col-md-4">Coupon</div>
                            <div class="col-md-8" id="booked-modal-coupon">-</div>

                            <div class="col-md-4">Credits</div>
                            <div class="col-md-8" id="booked-modal-credits">-</div>

                            <div class="col-md-4">Discount</div>
                            <div class="col-md-8" id="booked-modal-discount">-</div>

                            <div class="col-md-4 bold">Amount</div>
                            <div class="col-md-8" id="booked-modal-amount">-</div>

                            <div class="col-md-4 bold">Pending Amt</div>
                            <div class="col-md-8" style="color: red" id="booked-modal-payable-venue">-</div>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">Booking ID</div>
                            <div class="col-md-8" id="booking-modal-booking"></div>
                            <div class="col-md-4">Booked At</div>
                            <div class="col-md-8" id="booking-modal-bookedat">-</div>
                            <div class="col-md-4">Receipt ID</div>
                            <div class="col-md-8" id="booking-modal-receipt"></div>
                            <div class="col-md-4">User Name:</div>
                            <div class="col-md-8" id="booking-modal-username"></div>
                            <div class="col-md-4">Mobile:</div>
                            <div class="col-md-8" id="booking-modal-mobile"></div>
                            <div class="col-md-4">Email</div>
                            <div class="col-md-8" id="booking-modal-email"></div>
                            <div class="col-md-4"> Booked via</div>
                            <div class="col-md-8" id="booked-modal-via"></div>
                            <div class="col-md-4"> Booking Type</div>
                            <div class="col-md-8" id="booked-modal-type"></div>
                            <div class="col-md-4"> Booked By</div>
                            <div class="col-md-8" id="booked-modal-bookedby"> -------</div>
                            <div class="col-md-4"> Reference#</div>
                            <div class="col-md-8"  id="booked-modal-ref"> -------</div>



                            <div class="col-md-4">Remarks</div>
                            <div class="col-md-6" id="booking-modal-remarks"></div>
                            <div class="col-md-6" style="display: none" id="booking-modal-remarks_input">
                                <input type="text" id="edit_remarks_input">
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-pencil-square-o" id="edit_remarks" onclick="ppu.edit_remarks()"></i>
                                <i class="fa fa-check" id="edit_remarks_submit" style="display:none;" onclick="ppu.submit_remarks()"></i>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- <div class='scrolltop'>
                        <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
                    </div> -->

                <!-- <a class="scroll-top" id="scrltop" href="#booking_page" style="display: block;"><i class="fa fa-angle-up"></i> </a> -->



                <div class="row">
                    <div class="col-md-3">
                        Pending Amount Received
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" id='edit_payment_submit' onclick="ppu.edit_payment(this)">
                    </div>
                    <div class="col-md-3">
                        <!-- <button class="btn btn-primary"     id="booking_print_receipt_id" onclick="ppu.PrintPeceipt()">Receipt</button> -->

                        <button class="btn btn-primary"     id="booking_print_receipt_id" >Receipt</button>

                    </div>


                <br>
                <br>
            </div>
        </div>
    </div>
</div>




<!-- section to print -->


<div id="booking-receipt-print" class="receipt_div" style="display: none;  font-family: monaco,Consolas,Lucida Console, monospace;
        ;  width:100%; height:100%">
    <!--Printing Summary-->
    <div width="100%" style="padding:0px;">
        <div>
            <img src="http://www.gamepointindia.com/wp-content/uploads/2017/02/logo.png" style="  display: block;margin-left: auto; margin-right: auto; width: 50%;"
                class="center" alt="gamepointlogo ">

        </div>
    </div>




    <table class="receipt_table" style="text-align: center;
                                font-family: monaco,Consolas,Lucida Console, monospace;
                                font-size: 12px; text-transform: uppercase;width:100%;padding:3px;">
        <tr>
            <td width="100%">
                <b style="padding: 0px;" class="text-capitalize">Netplay Sports Private Limited</b>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <span>
                    Sy.No. 11/33 part, Khanamet Village
                </span>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <span>
                    Serilingampally Mandal, RR District
                </span>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <span>
                    Hyderabad - 500081
                </span>
            </td>
        </tr>
        <td width="100%">
            <span>
                Contact: 040 - 39565353
            </span>
        </td>
        </tr>
        <tr>
            <td width="100%">
                <span class="text-capitalize">

                    GSTIN: 36AAFCN2260H2ZK
                </span>
            </td>
        </tr>

    </table>
    <!-- </div> -->
    <!-- heading end -->

    <table width="100%" class="receipt_table" style="border-top: 1px dashed #000000	;
                        font-family: monaco,Consolas,Lucida Console, monospace;
                        text-align: start; font-size: 12px;padding:3px;  padding-left: 10px;">
        <tr>
            <td width="50%">Invoice Number: </td>
            <td width="50%" id="booking_invoice_Num" style="text-align:start;"></td>
        </tr>
        <tr>
            <td width="50%">Invoice Date:</td>
            <td width="50%" id="booking_invoice_date" style="text-align:start;"></td>
        </tr>
        <tr>
            <td width="50%">Name:</td>
            <td width="50%" style="text-align:start;" id="booking_invoice_Name"></td>
        </tr>

        <tr>
            <td width="50%">Mobile No:</td>
            <td width="50%" id="booking_invoice_Mob_Num" style="text-align:start;"></td>
        </tr>

        <tr>
            <td width="50%">Receipt ID:</td>
            <td width="50%" id="booking_invoice_Receipt_Id" style="text-align:start;"></td>
        </tr>
    </table>


    <table width="100%" id="receipt_table_id" class="receipt_table" style="border-top: 1px dashed #000000;
                         font-family: monaco,Consolas,Lucida Console, monospace;
                         margin-left: 2px;font-size: 12px;padding: 8px;padding-right: 15px;padding-left: 10px;">



        <!-- <tr>
            <th style=" border-bottom: 1px dashed #000000	;">
                S.No
            </th>


            <th style=" border-bottom: 1px dashed #000000	;">
                Item
            </th>
            <th style=" border-bottom: 1px dashed #000000	;">
                Price
            </th>

            <th style=" border-bottom: 1px dashed #000000	;">
                Qty
            </th>

            <th style=" border-bottom: 1px dashed #000000	;">
                Total
            </th>
        </tr> -->


        <tr>

        </tr>

    </table>


    <table width="100%" class="receipt_table" style="font-size: 12px;
    font-family: monaco,Consolas,Lucida Console, monospace;
    padding-left:  10px;padding-right: 15px;">
        <!-- <tr>
                <td style="text-align:start; width: 22%"> Total Qty:</td>
                <td></td>
                <td></td>
                <td   style="text-align:center;width: 22%"  id="total_qty_in_receipt"></td>
                <td></td>
        </tr>  -->

    <tr>
            <td style="text-align:start;width: 12%">
                    Total Qty:
            </td>

            <td style="text-align:start; width: 22%">
            </td>
            <td style="text-align:center;width: 22%">
            </td>
            <td style="text-align:center;width: 22%"  id="total_qty_in_receipt">
            </td>
             <td style="text-align:end;width: 22%">
            </td>
        </tr>


    </table>




    <table width="100%" class="receipt_table" style="font-size: 12px;
                         font-family: monaco,Consolas,Lucida Console, monospace;
                         padding-left:  10px;padding-right: 15px;">

        <tr>
            <td width="50%">Amount:</td>
            <td width="50%" style="text-align:right;" id="booking_invoice_Amount"></td>
        </tr>



        <tr>
            <td width="50%">Discount:</td>
            <td width="50%" style="text-align:right;" id="booking_invoice_Discount"></td>
        </tr>


        <tr>
            <td width="50%">Credits:</td>
            <td width="50%" style="text-align:right;" id="booking_invoice_Credits"></td>
        </tr>


        <tr>
            <td width="50%" style="font-weight: bold;"> Total: </td>
            <td width="50%" style="text-align:right;font-weight: bold;" id="paid_amount_in_booking_receipt"></td>
        </tr>


    </table>

    <table width="100%" class="receipt_table" style="border-top: 1px dashed #000000;
                         font-family: monaco,Consolas,Lucida Console, monospace;
                         text-align: start;font-size: 12px;padding-left:  10px;padding-right:  15px; ">

<!--
        <tr>
            <td width="50%">Total Qty:</td>
            <td width="50%" style="text-align:right;" id="total_qty_in_receipt"></td>
        </tr> -->


        <tr>
            <td width="50%">Taxable Amount:</td>
            <td width="50%" style="text-align:right;" id="Sub_total_in_booking_receipt"></td>
        </tr>




        <tr>
            <td width="50%">CGST@9%:</td>
            <td width="50%" style="text-align:right;" id="cgst_in_booking_receipt"></td>
        </tr>

        <tr>
            <td width="50%">SGST@9%:</td>
            <td width="50%" style="text-align:right;" id="sgst_in_booking_receipt"></td>
        </tr>



        <tr>
            <td width="50%">Balance:</td>
            <td width="50%" style="text-align:right;" id="balance_in_receipt"></td>
        </tr>

    </table>


    <table width="100%" class="receipt_table"   id="payment_via_in_receipt" style="border-bottom: 1px dashed #000000;font-size: 12px;padding:0px;
                                font-family: monaco,Consolas,Lucida Console, monospace;
                                padding-left:  10px;padding-right:  15px;">



        <!-- <tr>

            <td width="50%">Paid via <span > </span> </td>
            <td width="50%" style="text-align:right;" id="paid_amount_in_receipt"> </td>
        </tr> -->
        <!-- <tr>
                                                        <td width="50%" id="payment_via_in_receipt1">Card</td>
                                                        <td width="50%" style="text-align:right;"></td>
                                                 </tr> -->

    </table>
    <table class="receipt_table" style="text-align: center; font-size: 12px;
                                font-family: monaco,Consolas,Lucida Console, monospace;
                                margin-top: 20px; padding-left: 10px;padding-right: 15px; text-transform: uppercase;width:100% ;padding:3px;">
        <tr>
            <td width="100%">
                <b style="text-transform: uppercase;padding: 0px;" class="text-capitalize">
                    Amount paid is not refundable or transferable
                </b>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <span>
                    ***THANK YOU & VISIT AGAIN***
                </span>
            </td>
        </tr>
    </table>


</div>




<!-- end section to print -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/x.y.z/underscore-min.js"></script>



<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>




<!-- END CONTAINER -->
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<!-- BEGIN JS DEPENDECENCIES-->
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-block-ui/jqueryblockui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<!-- END CORE JS DEPENDECENCIES-->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{{ STATIC_URL }}vendor/scweb/webarch/js/webarch.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/js/chat.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/air-datepicker/dist/js/datepicker.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/air-datepicker/dist/js/i18n/datepicker.en.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-inputmask/jquery.inputmask.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/jquery-autonumeric/autoNumeric.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/ios-switch/ios7-switch.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/boostrap-clockpicker/bootstrap-clockpicker.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ STATIC_URL }}vendor/scweb/assets/js/form_elements.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}vendor/pay-per-use.js" type="text/javascript"></script>


{% if is_calendar %}
<script>
    $(document).ready(function () {
        $('.nav-tabs a[href=#calendar]').tab('show');
    });
</script>

{% endif %}


{% if error %}
<script>
    alert('{{error}}');
</script>

{% endif %}

{% if bulk_bookedslots or bulk_unbookedslots %}
<script>
    $('#bulkbooking_modal').show();
</script>
{% endif %}


<script type="text/javascript">
    function compareTimes() {
        var startTime = $("#timings_from").val();
        var endTime = $("#timings_to").val();
        if (!startTime || !endTime) {
            return false;
        }

        if (endTime > startTime) {
            return true;

        } else {
            return false;
        }
    }


    function dateValidation() {
        var date = new Date($("#walkin_date").val());
        var today = new Date();
        date.setHours(0, 0, 0, 0);
        today.setHours(0, 0, 0, 0);
        if (date.getTime() >= today.getTime()) {
            return true;
        } else {
            return false;
        }
    }
</script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- END JAVASCRIPTS -->

{% endblock body_content %}