
.searchloader{
display: none;
z-index: 9995;
overflow: auto;
opacity: 0.5;
width: 50%;
height: 60%;
top: 30%;
left: 40%;
padding: 20px;
position: fixed;
border-radius: 5px;
}
#image .searchloaderImage {
 width:12px;
 height:12px;
}

.tap1{
display: none;
z-index: 19990;
opacity: 0.5;
width: 100%;
height: 100%;
position: fixed;
background: #FFF none repeat scroll 0% 0%;
}



<div class="tap1"></div>
<div class="searchloader">
        <img  class="searchloaderImage" src="/static/web/Images/search-booking1.gif" alt="searchbooking..">
</div>
