 /* table scrollable */

 .table-scroll {
    position:relative;
    max-width:90vw;
    margin:auto;
    overflow:hidden;
    /* border:1px solid #000; */
}
.table-wrap {
    width:100%;
    overflow:auto;
    height: 60vh;
}
.table-scroll table {
    width:100%;
    margin:auto;
    border-collapse:separate;
    border-spacing:0;
}
.table-scroll th, .table-scroll td {
    padding:5px 10px;
    /* border:1px solid #000; */
    background:#fff;
    white-space:nowrap;
    vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
    background:#f9f9f9;
}
.clone {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
}
.clone th, .clone td {
    visibility:hidden
}
.clone td, .clone th {
    border-color:transparent
}
.clone tbody th {
    visibility:visible;
    color:red;
}
.clone .fixed-side {
    /* border:1px solid #000; */
    background:#eee;
    visibility:visible;
}
.fixed-side1 {
    /* position:absolute; */

    /* border:1px solid #000; */
    background:#231234;
    visibility:visible;
}


.clone thead, .clone tfoot{background:transparent;}


/* end table */



/* table change */

.main-table{
    position: relative;
    width: 75vw;
    /* background-color: #aaa; */
    overflow: hidden;
    border-collapse: collapse;
  }
  
  /*thead*/
  
  .main-table thead {
    position: relative;
    display: block;
    /*seperates the header from the body allowing it to be positioned*/
    width: 75vw;
    overflow: visible;
  }
  
  .main-table thead th {
      /* position: relative; */
    /* background-color: #99a; */
    min-width: 220px;
    /* height: 32px; */
    /* border: 1px solid #222; */
  }
  
   /* .main-table thead th:first-child { */
    /*first cell in the header*/
     /* position: relative;
    color: #040001 ;
    width: 1vw !important ;
  
  }   */
  
  
  
  thead tr th:first-child,tbody tr td:first-child {
      position: relative;
      color: #040001;
      width: 1vw !important ;
      background-color: white;
   }
  
  /* .main-table thead tr td:first-child {
      position: relative;
      color: #040001;
      width: 1vw !important ;
      background-color: white;
  } */
  
  
  /*tbody*/
  
  .main-table tbody {
    position: relative;
    display: block;
    /*seperates the tbody from the header*/
    width: 75vw;
    height: 60vh;
    overflow: scroll;
  }
  
  .main-table tbody td {
      min-width: 220px;
      height: 100px;
  }
  
  /* .main-table tbody tr td:first-child {
      position: relative;
      color: #040001;
      width: 1vw !important ;
      background-color: white;
  } */
  
  
  
  // $('#table-body-boxes').scroll(function(e) { //detect a scroll event on the tbody
          /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.    
        */
      //   $('#table-head-lines').css("left", -$("#table-body-boxes").scrollLeft()); //fix the thead relative to the body scrolling
      //   $('#table-head-lines th:nth-child(1)').css("left", $("table-body-boxes").scrollLeft()); //fix the first cell of the header
      //   $('#table-body-boxes td:nth-child(1)').css("left", $("#table-body-boxes").scrollLeft()); //fix the first column of tdbody
    
    
      //   $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
      //   $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
      //   $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
    
    
    
     // });
  
  
  
      /*
        Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
        of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.    
        */
      //   $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
      //   $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
      //   $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
  
  
  
  