


            //        $('#receipt_table_id').append(`        <tr>
            //        <th style=" border-bottom: 1px dashed #000000	;">
            //            S.No
            //        </th>


            //        <th style=" border-bottom: 1px dashed #000000	;">
            //            Item
            //        </th>
            //        <th style=" border-bottom: 1px dashed #000000	;">
            //            Price
            //        </th>

            //        <th style=" border-bottom: 1px dashed #000000	;">
            //            Qty
            //        </th>

            //        <th style=" border-bottom: 1px dashed #000000	;">
            //            Total
            //        </th>
            //    </tr>


            //    <tr>
                   
            //    </tr>

            //        <tr>
            //                <td style="text-align:start;width: 12%">
            //                    ${i}
            //                </td>

            //                <td style="text-align:start; width: 22%">

            //                    <span>   ${booking_info_data.sport} -${booking_info_data.booked_type}
            //                    &nbsp  Peak Hour - (1 hour)
            //                    </span> <span></span>
            //                </td>
            //                <td style="text-align:center;width: 22%">
            //                    ${parseFloat(booking_info_data.slot_price).toFixed(2)}

                               
            //                </td>
            //                <td style="text-align:center;width: 22%">
            //                     ${ObjectLength(booking_info_data.Data)}
            //                </td>
            //                <td style="text-align:end;width: 22%">
            //                   ${parseFloat(booking_info_data.slot_price).toFixed(2)}
                   
            //                </td>
            //            </tr>   
            //              <tr>
            //              <td> </td>

            //            <td>
            //                HSN - 999652
            //            </td>
            //        </tr> `);


                // });
    




     // slot_booking_add_on_info

     
        // $('#receipt_table_id').append(`        <tr>
        //                                             <th style=" border-bottom: 1px dashed #000000	;">
        //                                                 S.No
        //                                             </th>


        //                                             <th style=" border-bottom: 1px dashed #000000	;">
        //                                                 Item
        //                                             </th>
        //                                             <th style=" border-bottom: 1px dashed #000000	;">
        //                                                 Price
        //                                             </th>

        //                                             <th style=" border-bottom: 1px dashed #000000	;">
        //                                                 Qty
        //                                             </th>

        //                                             <th style=" border-bottom: 1px dashed #000000	;">
        //                                                 Total
        //                                             </th>
        //                                         </tr>


        //                                         <tr>
                                                    
        //                                         </tr>
        
        //                                             <tr>
        //                                                     <td style="text-align:start;width: 12%">
        //                                                         ${ObjectLength(booking_info_data.Data)}
        //                                                     </td>

        //                                                     <td style="text-align:start; width: 22%">

        //                                                         <span>   ${booking_info_data.sport} -${booking_info_data.booked_type}
        //                                                         &nbsp  Peak Hour - (1 hour)
        //                                                         </span> <span></span>
        //                                                     </td>
        //                                                     <td style="text-align:center;width: 22%">
        //                                                         ${parseFloat(booking_info_data.slot_price).toFixed(2)}

                                                                
        //                                                     </td>
        //                                                     <td style="text-align:center;width: 22%">
        //                                                          ${ObjectLength(booking_info_data.Data)}
        //                                                     </td>
        //                                                     <td style="text-align:end;width: 22%">
        //                                                        ${parseFloat(booking_info_data.slot_price).toFixed(2)}
                                                    
        //                                                     </td>
        //                                                 </tr>   
        //                                                   <tr>
        //                                                   <td> </td>

        //                                                 <td>
        //                                                     HSN - 999652
        //                                                 </td>
        //                                             </tr>
                                                          
        //                                               ${booking_add_on_info}  `);





----------------------------------------------------------------------------------------------------------


         
     //   booking_info_data

            $("#booking_invoice_Name").text(booking_info_data.name)

            $("#booking_invoice_Mob_Num").text(booking_info_data.mobile)

            $("#booking_invoice_date").text(booking_info_data.bookedat)

            $("#booking_invoice_Amount").text(booking_info_data.amount.toFixed(2))


            var booking_Amount  =  booking_info_data.amount.toFixed(2)

            $("#booking_invoice_Credits").text(booking_info_data.credits)

            $("#booking_invoice_Discount").text(booking_info_data.discount)


            var taxable_booking_amount = (booking_Amount * 100) / 118;
            var tax = (booking_Amount - taxable_booking_amount) / 2;
            $('#cgst_in_booking_receipt').html(tax.toFixed(2));
            $('#sgst_in_booking_receipt').html(tax.toFixed(2));
            $('#Sub_total_in_booking_receipt').html(taxable_booking_amount.toFixed(2));
            var paid_amount = parseInt((taxable_booking_amount + tax + tax).toFixed(2))
            $('#paid_amount_in_booking_receipt').html(paid_amount.toFixed(2));
        
        function ObjectLength(booking_info_data) {
            var length = 1;
            for( var key in booking_info_data ) {
                if( booking_info_data.hasOwnProperty(key) ) {
                    ++length;
                }
            }
            return length;
        };

        console.log( ObjectLength(booking_info_data.Data) );
//        console.log( _.size(booking_info_data.Data) );

        var booking_addondata = [];
        var add_on_count = []
        booking_addondata = booking_info_data.addon
        var booking_add_on_info = '';
   
        $.each(booking_info_data.addon, function (i, item) {
        


            add_on_count.push(booking_addondata[i].count)  
             
            // booking_add_on_info += `<tr>
            //                     <td style="text-align:start;width: 12%">
            //                             ${i+1}
            //                     </td>

            //                     <td style="text-align:start; width: 22%">

            //                       <span>  Add on - </spn>  ${booking_addondata[i].equipment.name} Lease (1 hour)

            //                      </td>
            //                     <td style="text-align:center;width: 22%">

            //                         ${parseFloat(booking_addondata[i].equipment.hourly_price).toFixed(2)}
                                
            //                     </td>
            //                     <td style="text-align:center;width: 22%">
            //                           ${booking_addondata[i].count}
                                        
            //                     </td>
            //                     <td style="text-align:end;width: 22%">
            //                           ${parseFloat(parseInt(booking_addondata[i].equipment.hourly_price) * parseInt(booking_addondata[i].count)).toFixed(2)}
            //                     </td>
            //                 </tr>  
            //                    <tr>
            //                         <td> </td>
            //                         <td>
            //                             HSN - 999652
            //                         </td>
            //                    </tr>`
                    
                    });  
     
   //   receipt_table

   console.log(add_on_count)
 
   var sum_add_on_count = add_on_count.reduce((a, b) => a + b, 0);
console.log(sum_add_on_count + ObjectLength(booking_info_data.Data)); // 6

$("#total_qty_in_receipt").text(sum_add_on_count + ObjectLength(booking_info_data.Data))


      //  $('#receipt_table  tr:last td:first').html($('#row').val());



      console.log(slot_booking_add_on_info);

      console.log(booking_add_on_info)




-----------------------------------

                 //  <tr>
                        //         <td style="text-align:start;width: 12%">
                        //                 ${i+1}
                        //         </td>

                        //         <td style="text-align:start; width: 22%">

                        //           <span>  Add on - </spn> 
                                   
                        //             ${currentBookings_Data.response[index].addon[index].equipment.name }

                        //            Lease (1 hour)

                        //          </td>
                        //         <td style="text-align:center;width: 22%">

                        //             ${parseFloat(currentBookings_Data.response[index].addon[index].equipment.hourly_price).toFixed(2)}
                                
                        //         </td>
                        //         <td style="text-align:center;width: 22%">
                        //               ${currentBookings_Data.response[index].addon[index].count}
                                        
                        //         </td>
                        //         <td style="text-align:end;width: 22%">
                        //               ${parseFloat(parseFloat(currentBookings_Data.response[index].addon[index].equipment.hourly_price) * parseInt(currentBookings_Data.response[index].addon[index].count)).toFixed(2)}
                        //         </td>
                        //     </tr>  
                        //        <tr>
                        //             <td> </td>
                        //             <td>
                        //                 HSN - 999652
                        //             </td>
                        //        </tr>



-----------------------------------------------------------------------------


    // try {
                            
                        //     if(currentBookings_Data.response[index].addon== []){


                        //         slot_booking_addons += ``
                        //     }

                        
                        //     else{

                        //         slot_booking_addons += `<tr>
                        //         <td style="text-align:start;width: 12%">
                        //                 ${i+1}
                        //         </td>
 
                        //         <td style="text-align:start; width: 22%">
 
                        //           <span>  Add on - </spn>  ${currentBookings_Data.response[index].addon[index].equipment.name} Lease (1 hour)
 
                        //          </td>
                        //            <td style="text-align:center;width: 22%">
                        //                ${parseFloat(currentBookings_Data.response[index].addon[index].equipment.hourly_price).toFixed(2)}        
                        //           </td>
                        //           <td style="text-align:center;width: 22%">
                        //              ${currentBookings_Data.response[index].addon[index].count}                    
                        //            </td>
                        //                <td style="text-align:end;width: 22%">
                        //                   ${parseFloat(parseInt(currentBookings_Data.response[index].addon[index].equipment.hourly_price) * parseInt(currentBookings_Data.response[index].addon[index].count)).toFixed(2)}
                        //                </td>
                        //                 </tr>  
                        //                    <tr>
                        //                         <td> </td>
                        //                         <td>
                        //                             HSN - 999652
                        //                         </td>
                        //                    </tr>`
 

                        //     }
                        // } catch (error) {
                            
                        // }


---------------------------------------------------------------------------





                   //     var addons = currentBookings_Data.response;
                     //   for(var prop in addons){
                       //     if (addons.hasOwnProperty(prop)){
                       //         console.log(prop);



                            //     $.each(currentBookings_Data.response[index].addon, function(index) {                                    
                             
                            //    //     $.each(addons[prop].addon, function(index) {                                    
                             
                            //         console.log(addons[prop].addon[index].equipment.name)

                            //                 slot_booking_addons += `<tr>
                            //                                 <td style="text-align:start;width: 12%">
                            //                                         ${index+1}
                            //                                 </td>
                            
                            //                                 <td style="text-align:start; width: 22%">
                            
                            //                                   <span>  Add on - </spn>  ${addons[prop].addon[index].equipment.name} Lease (1 hour)
                            
                            //                                  </td>
                            //                                 <td style="text-align:center;width: 22%">
                            
                            //                                     ${parseFloat(addons[prop].addon[index].equipment.hourly_price).toFixed(2)}
                                                            
                            //                                 </td>
                            //                                 <td style="text-align:center;width: 22%">
                            //                                       ${addons[prop].addon[index].count}
                                                                    
                            //                                 </td>
                            //                                 <td style="text-align:end;width: 22%">
                            //                                       ${parseFloat(parseInt(addons[prop].addon[index].equipment.hourly_price) * parseInt(addons[prop].addon[index].count)).toFixed(2)}
                            //                                 </td>
                            //                             </tr>  
                            //                                <tr>
                            //                                     <td> </td>
                            //                                     <td>
                            //                                         HSN - 999652
                            //                                     </td>
                            //                                </tr>`
                                                
                            //                   });  

                                // })
                        //    }
                    //    }



--------------------------------------------------------






                    //      $.each(booking_info_data.addon, function (i, item) { 
                           
                    //              try {
                            
                    //         if(currentBookings_Data.response[index].addon== []){
                    //             slot_booking_addons += ``
                    //         }
                    //         else{

                    //             slot_booking_addons += `<tr>
                    //             <td style="text-align:start;width: 12%">
                    //                     ${i+1}
                    //             </td>
 
                    //             <td style="text-align:start; width: 22%">
 
                    //               <span>  Add on - </spn>  ${currentBookings_Data.response[index].addon[index].equipment.name} Lease (1 hour)
 
                    //              </td>
                    //                <td style="text-align:center;width: 22%">
                    //                    ${parseFloat(currentBookings_Data.response[index].addon[index].equipment.hourly_price).toFixed(2)}        
                    //               </td>
                    //               <td style="text-align:center;width: 22%">
                    //                  ${currentBookings_Data.response[index].addon[index].count}                    
                    //                </td>
                    //                    <td style="text-align:end;width: 22%">
                    //                       ${parseFloat(parseInt(currentBookings_Data.response[index].addon[index].equipment.hourly_price) * parseInt(currentBookings_Data.response[index].addon[index].count)).toFixed(2)}
                    //                    </td>
                    //                     </tr>  
                    //                        <tr>
                    //                             <td> </td>
                    //                             <td>
                    //                                 HSN - 999652
                    //                             </td>
                    //                        </tr>`
 

                    //         }
                    //     } catch (error) {
                            
                    //     }

                    // });



                                    // $.each(booking_info_data.addon, function (i, item) { 
                                    //     add_on_count.push(booking_addondata[i].count)  
                                      
                                      
                                      
                                      
                                    //     slot_booking_addons += `<tr>
                                    //                         <td style="text-align:start;width: 12%">
                                    //                                 ${i+1}
                                    //                         </td>
                            
                                    //                         <td style="text-align:start; width: 22%">
                            
                                    //                           <span>  Add on - </spn>  ${booking_addondata[i].equipment.name} Lease (1 hour)
                            
                                    //                          </td>
                                    //                         <td style="text-align:center;width: 22%">
                            
                                    //                             ${parseFloat(booking_addondata[i].equipment.hourly_price).toFixed(2)}
                                                            
                                    //                         </td>
                                    //                         <td style="text-align:center;width: 22%">
                                    //                               ${booking_addondata[i].count}
                                                                    
                                    //                         </td>
                                    //                         <td style="text-align:end;width: 22%">
                                    //                               ${parseFloat(parseInt(booking_addondata[i].equipment.hourly_price) * parseInt(booking_addondata[i].count)).toFixed(2)}
                                    //                         </td>
                                    //                     </tr>  
                                    //                        <tr>
                                    //                             <td> </td>
                                    //                             <td>
                                    //                                 HSN - 999652
                                    //                             </td>
                                    //                        </tr>`
                                                
                                    //             });  
                            


































