




   $(".add-ons-cls").removeClass("hidden");




        swal("successful", "You Remark is Added ", "success");



  swal({
                    title: "Good job!",
                    text: "You clicked the button!",
                    icon: "info",
                  })

                  

 swal ( "Oops" ,  "something went wrong please try again..!" ,  "error" )






   <script src="{{ STATIC_URL }}vendor/scweb/assets/plugins/assets/plugins/bootstrap-sweetalert-master/dist/sweetalert.min.js"
        type="text/javascript"></script>

   <link href="{{ STATIC_URL }}vendor/scweb/assets/plugins/bootstrap-sweetalert-master/dist/sweetalert.css"
        rel="stylesheet" type="text/css" media="screen"/>






























   var duration_before_renewal =    $('#DurationSelection_edit').val();

        console.log(duration_before_renewal);

    $('#DurationSelection_edit').val('-1');



bindEnrollment


                    html += '<td>' + item.amount + '</td>';


$('#duration_bf_renewal').html('');



    var duration = $('#DurationSelection_edit').val();

  $('#DurationSelection_edit').html('<option selected value="-1">Choose...</option>');
  


    //                  if(result.subscription[i].is_active === false){

    //                     $('#btnRetEnroll_inactive').removeClass('hide');

    //             //        $('#cancel_button_inactive').removeClass('hide');
    //                     $("#btnSave").hide();
    //                     $('#btnBreak').hide();                               
    //                     $('#btnEndEnroll').hide();                        
    //                     $('#btnRetEnroll').hide();       


    //                     }



    //                     if(result.subscription[i].is_active === true){

    //                         //    $('#btnRetEnroll_inactive').toggleClass( "hide" );

    //                        //     $('#btnRetEnroll_inactive').addClass('hide');

    //                 //        $('#cancel_button_inactive').removeClass('hide');
    //                         $("#btnSave").show();
    //                         $('#btnBreak').show();                               
    //                         $('#btnEndEnroll').show();                        
    //                         $('#btnRetEnroll').show();       
    //                         $('#confirm_renewal_btnSave').hide();


    //                         }



    //                 //     else{
    //                 //      //   $("#btnSave").show();
    //                 //         $("#btnBreak").show();  
    //                 //         $('#btnEndEnroll').show();    
    //                 //         $('#btnEndEnroll').show();                        
    //                 //      //   $('#btnRetEnroll_inactive').addClass('hide');
    //                 //   //      $('#cancel_button_inactive').addClass('hide');

    //                 //         $('#btnRetEnroll').show();                        

    //                 //     }



    //                   $("#btnRetEnroll_inactive").click(function(){


    // //                    renewalEnrollment_inactive()
    //   //                   $('btnSave').hide();


    //           });



    //                 $("#btnRetEnroll_inactive").click(function(){

    //    window.location.reload(true);

    //location.reload(true);
    //    renewalEnrollment();
    //    $('#btnRetEnroll_inactive').text('Confirm Renewal');
    //   $('#btnRetEnroll_inactive').attr('onclick','SaveEnrollmentChanges(1)');


    //      });