    <div  class="row   "    >
        <div class="col-md-12 "   id="months_table"  style="margin-bottom: 20px;">          
               <div   class="col-md-4 col-md-offset-2 col-xs-12  col-sm-offset-0    col-sm-12 "  id="this_month_table"   >
                    <div id="crd1" class=" "  >
                        <div class="col-md-12 col-sm-12 ">
                                <!-- <header><h6 class="crdDatacls text-capitalize font-weight-bold" id="crdval"  style=" font-weight: bold;">Sport</h6></header> -->
                                <header><h5 class="crdDataclss text-capitalize font-weight-bold" id="crdval2"  style=" font-weight: bold;">This Month</h5></header> 
                         </div>   
        <div class=""  >
                                    <table  class="table-responsive"     style="width:100%"   cell-padding="2">
                                            <tr>
                                                    <th ></th>
                                                    <th>Total</th> 
                                                    <th>Adult</th>
                                                    <th>Child</th>
                                           </tr>
                                            <tr>
                                                    <th>Active Enrollments</th>
                                                    <td id="total_enroll" ></td> 
                                                    <td id="adult_enroll"></td> 
                                                    <td id="child_enroll"></td>                
                                                </tr>
                                                                            <!-- <tr>
                                            <th>Last Week's Numbers</th>
                                            <td>val1</td> 
                                            <td>val1</td>
                                          <td>val1</td>                                        
                                            </tr> -->
                                        
                                            <tr>
                                                    <th>New Registrations</th>
                                                    <td id="reg_totel"></td> 
                                                    <td id="reg_adult"></td>
                                                    <td id="reg_child"></td>
                                                    
                                             </tr>
                                             <tr>
                                                <th>Renewals</th>
                                                <td id="ren_total" ></td> 
                                                <td id="ren_adult" ></td>
                                                <td id="ren_child"></td>
                                            </tr>
                                    </table>
        </div>
                         <div style="text-align: center; margin-bottom: 10px;">  </div>
    </div>


    </div>
        <!-- <div  class="row w3-container "    style=" margin-bottom:10px;"> -->
            <div   class="col-md-4  col-xs-12    col-sm-12 "   id="last_month_table" > 
                <!-- <div      id="last_month_table" >
   -->
               <div id="crd2" class=" " style=" width: 100%;">
                <div class="col-md-12 col-sm-12 ">
                        <!-- <header><h6 class="crdDataclsss text-capitalize font-weight-bold" id="crdval11"  style=" font-weight: bold;"> </h6></header> -->
                        <header><h5 class="crdDataclss text-capitalize font-weight-bold" id="crdval1"  style=" font-weight: bold;">Last Month</h5></header>

                    </div>
            
                <div class=""  >
                            
                                <table  class="table-responsive"     style="width:100%"   cell-padding="1">
                                        <tr>
                                          <th ></th>
                                          <th>Total</th> 
                                          <th>Adult</th>
                                          <th>Child</th>
                                          
                                        </tr>


                                <tr>

                                        <th>Active Enrollments</th>
                                        <td id="last_total_enroll" ></td> 
                                        <td id="last_adult_enroll"></td> 
                                        <td id="last_child_enroll"></td>
                                      </tr>
      
                                        <!-- <tr>
                                          <th>Last Week's Numbers</th>
                                          <td>val1</td> 
                                          <td>val1</td>
                                          <td>val1</td>
                                          
                                        </tr> -->
       
                                        <tr>
                                                <th>New Registrations</th>
                                                <td id="last_reg_totel"></td> 
                                                <td id="last_reg_adult"></td>
                                                <td id="last_reg_child"></td>
                                                
                                            </tr>
                                            <tr>
                                               <th>Renewals</th>
                                               <td id="last_ren_totel" ></td> 
                                               <td id="last_ren_adult" ></td>
                                               <td id="last_ren_child"></td>
                                              
                                            </tr>
                    
       
                                    
                                </table>
                </div>
                <div style="text-align: center; margin-bottom: 10px;">
        
                </div>
            </div>
        
        
        </div>
    </div>
 </div>





@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { 
    .left-div, .right-div
    {
       max-width: 100%;
       /* margin-left: 20px; */
    }    
    
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {

      .left-div, .right-div
    {
       max-width: 100%;
       /* margin-left: 20px; */
    }    
  
     /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
