
      <div class="w3-container">

<!-- <div class="row"> -->

    <div class="col-md-12  ">

    <div    id="months_table"   class="div1" >
         <div   class=" col-md-4   col-md-offset-2  col-sm-12   col-xs-12  "   id="this_month_table"  style="padding-left:0px" >
            <div id="crd" class=" "  >
                     <div class="col-md-12 col-sm-12 ">
                            <!-- <header><h6 class="crdDatacls text-capitalize font-weight-bold" id="crdval"  style=" font-weight: bold;">Sport</h6></header> -->
                            <header><h5 class="crdDataclss text-capitalize font-weight-bold" id="crdval2"  style=" font-weight: bold;">This Month</h5></header>
                    </div>
                            <table  class="w3-table	"     style="width:100%"   cell-padding="1">
                                    <tr>
                                    <th ></th>
                                    <th>Total</th>
                                    <th>Adult</th>
                                    <th>Child</th>

                                    </tr>

                                    <tr>
                                            <th>Active Enrollments</th>
                                            <td id="total_enroll" ></td>
                                            <td id="adult_enroll"></td>
                                            <td id="child_enroll"></td>


                                        </tr>
                                                                    <!-- <tr>
                                    <th>Last Week's Numbers</th>
                                    <td>val1</td>
                                    <td>val1</td>
                                    <td>val1</td>

                                    </tr> -->

                                    <tr>
                                            <th>New Registrations</th>
                                            <td id="reg_totel"></td>
                                            <td id="reg_adult"></td>
                                            <td id="reg_child"></td>

                                        </tr>
                                        <tr>
                                        <th>Renewals</th>
                                        <td id="ren_total" ></td>
                                        <td id="ren_adult" ></td>
                                        <td id="ren_child"></td>

                                        </tr>

                            </table>
             </div>
        </div>
    </div>
    <div class="col-md-4   col-sm-12   col-xs-12 ">

            <div    id="last_month_table"  style="margin-bottom: 20px;">
                 <div   class="   "    id="last_month_table" >
                    <div id="crd" class=" "  >
                             <div class="col-md-12 col-sm-12 ">
                                    <!-- <header><h6 class="crdDatacls text-capitalize font-weight-bold" id="crdval"  style=" font-weight: bold;">Sport</h6></header> -->
                                    <header><h5 class="crdDataclss text-capitalize font-weight-bold" id="crdval1"  style=" font-weight: bold;">Last Month</h5></header>
                            </div>

            <div>
                <!-- <div class="table-responsive"> -->

                        <table  class="w3-table	"        cell-padding="1">
                                <tr>
                                <th ></th>
                                <th>Total</th>
                                <th>Adult</th>
                                <th>Child</th>

                                </tr>


                        <tr>

                                <th>Active Enrollments</th>
                                <td id="last_total_enroll" ></td>
                                <td id="last_adult_enroll"></td>
                                <td id="last_child_enroll"></td>
                            </tr>

                                <!-- <tr>
                                <th>Last Week's Numbers</th>
                                <td>val1</td>
                                <td>val1</td>
                                <td>val1</td>

                                </tr> -->

                                <tr>
                                        <th>New Registrations</th>
                                        <td id="last_reg_totel"></td>
                                        <td id="last_reg_adult"></td>
                                        <td id="last_reg_child"></td>

                                    </tr>
                                    <tr>
                                    <th>Renewals</th>
                                    <td id="last_ren_totel" ></td>
                                    <td id="last_ren_adult" ></td>
                                    <td id="last_ren_child"></td>

                                    </tr>



                        </table>

                </div>
           </div>
     </div>
</div>
</div>
</div>
</div>
