



            // var my_Arr_val = currentEnrollIndex_id[0]

        

            // try {
            //     if (my_Arr_val === undefined) {
            //         bindEnrollment(ItemIndex);
            //     } else {
            //         bindEnrollment(my_Arr_val);
            //     }

            //     debugger ;
            // } catch (error) {
            // //    bindEnrollment(ItemIndex);

            //     debugger;
            // }




<div id="membersModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 60%;">
        <!-- Modal content-->
        <div class="modal-content" style="padding:10px;">
            <button type="button" class="close" data-dismiss="modal"><span>
                <i class="material-icons" style="font-size: 48px;">close</i>
            </span></button>
            <h3 class="modal-header" id="add_edit_member">Add Member</h3>
            <div class="modal-body" style="background-color: white">
              
                <div id="errEnrollment" style="display:none;padding: 20px;font-size: 16px;color:red;">
                    <p>All * marked fields are mandatory.Please fill and try again.</p>
                </div>

                <div>
                    <legend class="col-form-label">Member Details</legend>
                </div>


                        <div style="margin-top: 20px" class="row">

                            <div class="col-md-12">

                                </div>

                            </div>
               
  
  
                            <div class="col-md-12">
                                <button type="submit" id="id_button_save_relation" class="btn btn-primary" onclick="save_relative()">Save</button>
                            </div>
                        </div>
                        <!--end relationship-->
            </div>

            <div class="modal-footer" style="background-color: white">
                <div class="row" style="margin-top: 10px; text-align: center">
                    <button type="button" id='create_member_button' class="btn btn-primary" onclick="createMember()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>











window.onscroll = function(e) {

	if($(window).scrollTop()>$(window).height()){
		
		 document.getElementById("main-navigation-wrapper").className = "navbar navbar-default navbar-fixed-top finance-navbar fixed-theme";
	document.getElementById("scrltop").style.display = 'block';
		
	}
	else{
		
	 document.getElementById("main-navigation-wrapper").className = "navbar navbar-default navbar-fixed-top finance-navbar";
	document.getElementById("scrltop").style.display = 'none';

	 }
	$("#main-navigation").collapse('hide');
	
	}


$( document ).ready(function() {

	document.getElementById("scrltop").style.display = 'none';



});



<a class="scroll-top" id="scrltop" href="#booking_page" style="display: block;"><i class="fa fa-angle-up"></i> </a>





                                                    <!-- <div class="form-group" id="useremail_formgroup"
                                                         style="display:none;">
                                                        <label class="form-label">Email ID</label>
                                                        <span class="help">e.g. "some@example.com"</span>
                                                        <div class="controls">
                                                            <input type="text" name="user_email" id="user_email"
                                                                   class="form-control">
                                                        </div>
                                                    </div> -->



                                                    <!-- <div class="form-group" id="username_formgroup"
                                                         style="display:none;">
                                                        <label class="form-label">Name</label>
                                                        <div class="controls">
                                                            <input type="text" id="walkin_user_name"
                                                                   name="walkin_user_name" class="form-control"
                                                                   required>
                                                        </div>
                                                    </div> -->

                                             <!-- <div    class="hide_context"  id="hide_context_id" > -->




1. Each batch will have upto 15 participants
2. Parents can choose pay per class at the rate of Rs 300 per class


1. Each batch will have upto 15 participants
2. Parents can choose pay per class at the rate of Rs 300 per class





Skating

1.The coach to participant ratio will be 1:10 and batches upto 40







     <div class="row">
                                                        <div class="col-md-12">
                                                            <div  class="col-md-6">

                                                                        
                                                

                                                                            <div class="form-group">
                                                                                <label class="form-label">Mobile Number</label>
                                                                                <div class="controls">
                                                                                    <input type="number" min=1000000000 max=9999999999
                                                                                           name="user_mobile" id="user_mobile"
                                                                                           class="form-control" required>
                                                                                </div>
                                                                            </div>

                                                              
                                                            </div>
                                                            <div  class="col-md-6">

                                                                  
                                                                            <div class="form-group" id="calbooking_type_wrapper">
                                                                                <label class="form-label">Booking type</label>
                                                                                <div class="controls">
                                                                                    <select name="calbooking_type"
                                                                                            id="selectedbookingtype">
                                                                                        <option value="1"> Membership</option>
                                                                                        <option value="2"> Coaching</option>
                                                                                        <option value="3" selected>Pay Per Use</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                      </div>
                                                        </div>
                                                    </div>
                                               




                                                      <div class="form-group">
                                                                            <label class="form-label">Payment Type</label>
                                                                            <div class="controls">
                                                                                <select name="payment_type" id="payment_type"
                                                                                        required>
                                                                                    <option disabled selected value> -- select an option
                                                                                        --
                                                                                    </option>
                                                                                    <option value="0">Zero</option>
                                                                                    <option value="1" selected>Full Payment</option>
                                                                                    <option value="2">Part Payment</option>
                                                                                </select>
                                                                            </div>                                                          
                                                                     </div>
                                                        




                                                                                                            <div class="form-group" id="useremail_formgroup"
                                                         style="display:none;">
                                                        <label class="form-label">Email ID</label>
                                                        <span class="help">e.g. "some@example.com"</span>
                                                        <div class="controls">
                                                            <input type="text" name="user_email" id="user_email"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="username_formgroup"
                                                         style="display:none;">
                                                        <label class="form-label">Name</label>
                                                        <div class="controls">
                                                            <input type="text" id="walkin_user_name"
                                                                   name="walkin_user_name" class="form-control"
                                                                   required>
                                                        </div>
                                                    </div>






booking_page




        // if (CURRENT_SELECTED_OPTION != 3) {
        //     $('#walkin_price').val(0);
        //     $('#hide_context_id').hide()
        // } else {
        //     $('#walkin_price').val(PRICE);
        //     $('#booking_amount').val(PRICE)    
        //      booking_discount_val =   $('#booking_discount').val('0');
        //             $('#booking_discount').on("keyup", function () {
        //                 if($('#booking_discountType').val() === '1'){ 
        //                     if($('#booking_discount').val() === ""){
        //                         $('#booking_amount').val(PRICE)
        //                     }
        //                     else{                           
        //                             booking_discount_val =   $('#booking_discount').val();
        //                             booking_amount_val  = parseFloat(parseFloat((PRICE)) - (parseFloat($('#booking_discount').val())));
        //                             $('#booking_amount').val(booking_amount_val)   
        //                         } 
        //                     }   
        //    });
        //     $('#hide_context_id').show()
        // }

