<form method="POST" id="calendarbookingslots">
                                                <input type="hidden" name="form_type" value="calendarbookingslots">
                                                <div class="col-md-12" id="user_info_calendarbooking_slots" style="">
                                                    <div id="hiddenslotinputs">

                                                    <input type="hidden" name="hiddenslotid" id="hiddenslot199099" value="199099"></div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Mobile Number</label>
                                                                <div class="controls">
                                                                    <input type="number" min="1000000000" max="9999999999" name="user_mobile" id="user_mobile" class="form-control" required="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                            <div class="form-group" id="calbooking_type_wrapper">
                                                                <label class="form-label">Booking type</label>
                                                                <div class="controls">
                                                                    <select name="calbooking_type" id="selectedbookingtype">
                                                                        <option value="1"> Membership</option>
                                                                        <option value="2"> Coaching</option>
                                                                        <option value="3" selected="">Pay Per Use</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="useremail_formgroup" style="display:none;">
                                                        <label class="form-label">Email ID</label>
                                                        <span class="help">e.g. "some@example.com"</span>
                                                        <div class="controls">
                                                            <input type="text" name="user_email" id="user_email" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="username_formgroup" style="display:none;">
                                                        <label class="form-label">Name</label>
                                                        <div class="controls">
                                                            <input type="text" id="walkin_user_name" name="walkin_user_name" class="form-control" required="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Payment Type</label>
                                                        <div class="controls">
                                                            <select name="payment_type" id="payment_type" required="">
                                                                <option disabled="" selected="" value=""> -- select an option
                                                                    --
                                                                </option>
                                                                <option value="0">Zero</option>
                                                                <option value="1" selected="">Full Payment</option>
                                                                <option value="2">Part Payment</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label">Price</label>
                                                        <div class="controls">
                                                            <input name="walkin_price" id="walkin_price" type="number" value="0" required="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Payment Method</label>
                                                        <div class="controls">
                                                            <select name="payment_method" id="payment_method" required="">
                                                                <option disabled="" selected="" value=""> -- select an option
                                                                    --
                                                                </option>
                                                                <option value="Cash"> Cash</option>
                                                                <option value="Card">Card</option>
                                                                <option value="Cheque">Cheque</option>
                                                                <option value="Paytm">Paytm</option>
                                                                <option value="Pending">Pending</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Remarks</label>
                                                        <div class="controls">
                                                            <input name="walkin_remarks" id="walkin_remarks" type="text">
                                                        </div>
                                                    </div>

                                                    <input type="submit" name="submit" class="btn btn-default" style="color:white;background-color:#099a8c ;margin-right:50px;">
                                                    <input type="button" name="cancel" onclick="ppu.cancel_slots()" id="cancel_button" value="cancel" class="btn btn-default" style="color:white;background-color:#099a8c ">

                                                </div>
                                            </form>