                           <!--  form  -->


                                                        <!-- <form method="POST" id="calendarbookingslots">
                                                            <input type="hidden" name="form_type" value="calendarbookingslots">
                                                        
                                                            <div class="col-md-12" id="user_info_calendarbooking_slots" style="">


                                                                <div>
                                                                        <h4>Selected Courts:</h4>
                                                                        <div class="Selected_Courts" > </div>
    

                                                                </div>
                                                                    
                                                                <div id="hiddenslotinputs">


                                                                    

                                                                <input type="hidden" name="hiddenslotid" id="hiddenslot190169" value="190169"></div>
                                                        
                                                        
                                                                <div class="">
                                                                        <div class="col-md-12">
                                                                                <div class="col-md-6" style="padding-left:0px">
                                                                                    <div class="form-group row">
                                                                                        <label for="user_mobile" class="col-md-4 col-form-label">Mobile
                                                                                            Number</label>
                                                                                        <div class="col-md-8">
                                                                                            <input type="number" min=1000000000
                                                                                                max=9999999999 name="user_mobile"
                                                                                                id="user_mobile" class="form-control"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-6">

                                                                                    <div class="form-group row" id="calbooking_type_wrapper">
                                                                                        <label for="selectedbookingtype" class="col-md-4 col-form-label">Booking
                                                                                            type</label>
                                                                                        <div class="col-md-8">

                                                                                            <select name="calbooking_type" id="selectedbookingtype"  >
                                                                                                <option value="1"> Membership</option>
                                                                                                <option value="2"> Coaching</option>
                                                                                                <option value="3" selected>Pay
                                                                                                    Per Use</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                        <div class="col-md-6" style="padding-left:0px">
                                                                            <div class="form-group row" id="useremail_formgroup"
                                                                                style="display:none;">
                                                                                <label for="user_email" class="col-md-4 col-form-label">Email
                                                                                    ID</label>
                                                                                <div class="col-md-8">

                                                                                    <input type="text" name="user_email"
                                                                                        id="user_email" class="form-control">


                                                                                </div>
                                                                            </div>
                                                                        </div> 

                                                                        <div  class="col-md-6"  >
                                                                            <div class="form-group row"  id="username_formgroup"  style="display:none;" >
                                                                                        <label for="staticEmail" class="col-md-4 col-form-label">Name</label>
                                                                                        <div class="col-md-8">
                                                                                                <input type="text" id="walkin_user_name"
                                                                                                name="walkin_user_name" class="form-control"
                                                                                                required>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                                </div>





                                                                <div class="hide_context" id="hide_context_id">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group row">
                                                                                        <label for="payment_type" class="col-md-4 col-form-label">Payment
                                                                                            Type</label>
                                                                                        <div class="col-md-8">
                                                                                            <select name="payment_type"  id="payment_type"  required>
                                                                                                <option disabled selected value> --select an option  -- </option>
                                                                                                <option value="0">Zero</option>
                                                                                                <option value="1" selected>Full Payment</option>
                                                                                                <option value="2">Part Payment</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                 <div class="col-md-6">
                                                                                    <div class="form-group  row">
                                                                                        <label for="walkin_price" class=" col-md-4  col-form-label">Price</label>
                                                                                        <div class="col-md-8">
                                                                                            <input name="walkin_price" id="walkin_price" type="number" value="0" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                </div> -->
<!-- 
                                                                                <div class="col-md-6">         
                                                                                        <div class="form-group row">
                                                                                                <label class="col-md-4  col-form-label">Price</label>
                                                                                                <div class="col-md-6">
                                                                                                    <input name="walkin_price" class="form-control" id="walkin_price" type="number" value="0" readonly="true"   disabled="disabled" required="">
                                                                                                </div>
                                                                                            </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-6">

                                                                                        <div class="form-group   row">
                                                                                            <label for="booking_discountType"
                                                                                                class="col-md-4 col-form-label">Discount
                                                                                                Type</label>
                                                                                            <div class="col-md-8">
                                                                                                <select id="booking_discountType"
                                                                                                    name="booking_discountType">
                                                                                                    <option value=""> --
                                                                                                        select an option
                                                                                                        --
                                                                                                    </option>   -->
                                                                                                    <!-- <option value="0">Percentage</option> -->
                                                                                                    <!-- <option value="1"  >Amount</option>
                                                                                                </select>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group  row">
                                                                                            <label for="booking_discount"
                                                                                                class="col-md-4 col-form-label">Discount</label>
                                                                                            <div class="col-md-8">
                                                                                                <input    id="booking_discount" type="number" value="0">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div> -->


                                                                        <!-- <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group  row">
                                                                                            <label class="col-md-4 col-form-label">Payment Method</label>
                                                                                            <div class="col-md-8">
                                                                                                <select name="payment_method" id="payment_method">
                                                                                                    <option disabled  selected value> --  select an option  --  </option>
                                                                                                    <option value="Cash"> Cash</option>
                                                                                                    <option value="Card">Card</option>
                                                                                                    <option value="Cheque">Cheque</option>
                                                                                                    <option value="Paytm">Paytm</option>
                                                                                                    <option value="Pending">Pending</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group row">
                                                                                            <label  for="booking_amount" class="col-md-4 col-form-label">Amount</label>
                                                                                            <div class="col-md-6">
                                                                                                <input type="number" class="form-control "
                                                                                                    id="booking_amount"
                                                                                                    placeholder="Amount">
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                         -->


                                                                            <!-- <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="col-md-6">
                                                                                            <div class="form-group  row">
                                                                                                <label class="col-md-4 col-form-label">Reference#</label>
                                                                                                <div class="col-md-8"  style="padding-left:44px;">
                                                                                                    <input name="booking_ref" id="booking_ref" type="text" >
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>


                                                                </div> --> 
                                                                <!-- <div class="row">
                                                                        <div class="col-md-12" style="padding-left:30px">
                                                                            <div class="form-group row">
                                                                                <label for="walkin_remarks"  class="col-md-2 col-form-label">Remarks</label>
                                                                                <div class="col-md-10">

                                                                                    <textarea class="form-control" id="walkin_remarks" name="walkin_remarks"
                                                                                        rows="3" placeholder="remarks"
                                                                                        style="resize:none"></textarea>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                            
                                                                <input type="submit" name="submit" class="btn btn-default" style="color:white;background-color:#099a8c ;margin-right:50px;">
                                                                <input type="button" name="cancel" onclick="ppu.cancel_slots()" id="cancel_button" value="cancel" class="btn btn-default" style="color:white;background-color:#099a8c ">

                                                            </div>
                                                        </form> --> 
                                                        <!-- end  form -->
